h1 {
    text-align: center;
}

.mot-cacher {
    font-size: 2em;
    margin: 150px;
    background-color: brown;
    width: 30%;
}

.clavier {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    margin: auto;
}

.touche {

    display: inline-flex;
    width: 80px;
    height: 80px;
    background-color: black;
    color: red;
    font-size: 2em;
    font-weight: 600;
    margin: 5px;
    align-items: center;
    justify-content: center;
}